@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Literata, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff8f0;
  margin: 0;
}

nav {
  overflow: hidden;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 1.5rem;
  border-radius: .25rem;
  display: inline-flex;
}

nav ul {
  border: 1px #222 solid;
  background-color: #222;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;

}

nav a:hover {
  background-color: #c6c8d2;
  color: #fff;
}

.logo {
  width: 20%;
  margin: 7.5rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  display: flex;
}

header {
  background-color:  #ee6352;
}

h1 {
  font-family: "Grenze Gotisch", cursive;
  text-align: center;
  font-size: 3.5em;
  color: #ee6352;
  margin: 0;
  background-color: #222;
  text-shadow: 2px 2px #fff;
}

h2 {
  color: #ee6352;
  font-family: "Grenze Gotisch", cursive;
  text-align: center;
  margin: 0;
  margin-top: 2em;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

.coupon h2 {
  color: #fff;
}

p {
  margin: 0;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

small {
  font-size: .75rem;
  color: #c1292e;
}

footer {
  background-color: #222;
  color: #fff8f0;
  text-align: center;
}

footer p {
  margin: 0;
}

footer a {
  color: white;
  font-size: .6rem;
}

footer small {
  color: #fff;
}

.company-info {
  display: inline;
  font-size: .6rem;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

form {
  padding: 0;
  padding-bottom: 2rem;
  border-color: #ee6352;
}

.column{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 1.25em;
}

.title {
  color: grey;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  padding: .5rem;
  color: white;
  background: #000;
  text-align: center;
  width: 100%;
  font-size: 1rem;
}

.ghost-info {
  margin-bottom: 1rem;
  display: flex;
  text-align: left;

}

.card p {
  background-color: #c6c8d2;
  padding: 1rem;
}

.card ul {
  padding: .5em;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.btn:hover,
a:hover {
  opacity: .7;
}

.coupon {
  border: 5px #ee6352 solid;
  width: 80%;
  border-radius: 15px;
  margin: 0 auto;
  max-width: 600px;
  padding: 2px 16px;
  background-color: gray;
  text-align: center;
}

.coupon p {
  padding-top: 1rem;
  color: white;
}

.promo {
  background: #fff8f0;
  border-radius: 15px;
  padding: .5rem;
}

.price {
  list-style-type: none;
  text-align: center;
  border: 1px solid #767b91;
  margin: 0;
  padding: 0;
  transition: .3s;
}

.price .header {
  background-color: #767b91;
  color: white;
  font-size: 1.1rem;
}

.price li {
  border-bottom: 1px solid #767b91;
}

.columns {
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  display: inline-block;
}

.skip-links a {
  position: absolute;
  top: -3em;
  padding: 0;
}

.skip-links li {
  list-style-type: none;
  padding: 0;
}

.skip-links ul {
  padding: 0;
  margin: 0;
}

.skip-links a:focus {
  top: 0;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h2,
  p {
    margin: 0 0 1.4rem;
  }

  .column {
    float: left;
    width: 25%;
    padding: .5em;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    align-content: center;
  }

  .row {
    padding-left: 5em;
    padding-right: 5em;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  nav a {
    float: none;
    display: block;
  }

  nav li {
    text-align: center;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 .625em;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    align-content: center;
  }

  .row {
    padding-left: 5em;
    padding-right: 5em;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

}
